@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Berkshire+Swash&family=Bungee&family=Bungee+Spice&family=Creepster&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Eater&family=Herr+Von+Muellerhoff&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacquard+24+Charted&family=Julius+Sans+One&family=Libertinus+Keyboard&family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Pacifico&family=Playwrite+BR:wght@100..400&family=Playwrite+FR+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Rubik+80s+Fade&family=Rubik+Dirt&family=Rubik+Lines&family=Rubik+Storm&family=Rubik+Wet+Paint&family=Sankofa+Display&family=Science+Gothic:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url("./style.css");


#my-gift{
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 10rem;
    gap: 2rem;
    display: none;
}
#my-gift.display{
    display: flex;
}
#my-gift h1{
    text-align: start;
    color: var(--color-primary);
}

#my-gift-1{
    width: 85%;
    max-width: 800px;
    height: 30vh;
    max-height: 200px;
    background: url("../images/a-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem;
    color: var(--color-primary);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 2rem;
    align-self: center;
    padding: 0 .4rem;
}

.select{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 45%;
    max-width: 250px;
    gap: 0.2rem;
}

.select:hover .select-item{
    border: var(--color-border-primary);
    transition: .3s ease;
}

.select-item{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    border-radius: .5rem;
    border-radius: 0 0 .2rem .2rem;
    transition: .2s ease;
    border: var(--color-border);
    font-family: "Roboto";
    z-index: 1;
    cursor: pointer;
}

.select-item.active{
    background-color: #f5f5f1;
}

.select-item svg{
    transition: .3s ease;
    rotate: -180deg;
}
.select-item svg.active{
    rotate: 0deg;
    transition: .3s ease;
}

.select ul{
    border: var(--color-border);
    padding-bottom: 20px;
    width: 100%;
    border-radius: .2rem .2rem 0 0;
    display: none;
    flex-direction: column;
    gap: 0.0rem;
    background-color: #f5f5f1;
    position: absolute;
    bottom: 20px;
    height: 0;
    overflow-y: auto;
    scrollbar-width: none;
    transition: .3s ease;
    z-index: 0;
}
.select ul.active{
    height: 200px;
    transition: .3s ease;
    display: flex;
}

.select ul li{
    border-radius: .2rem .2rem .1rem .1rem;
    cursor: pointer;
    padding: .1rem .5rem;
    font-size: 1rem;
}
.select ul li:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.templates{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.templates-images{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: .5rem;
    transition: .3s ease;
}

.templates img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: .3rem;
    cursor: pointer;
}


.input-custom{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-custom>div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.input-custom>div label{
    font-size: 1rem;
    font-weight: 500;
}

.input-custom input[type="text"]{
    width: 45%;
    max-width: 250px;
    border: var(--color-border);
    outline: none;
    padding: 0 .5rem;
    height: 35px;
    border-radius: .2rem;
    transition: .3s ease;
}
.input-custom input[type="color"]{
    border: var(--color-border);
    outline: none;
    border-radius: .2rem;
    width: 80px;
    height: 33px;
    padding: 0 .2rem;
    transition: .3s ease;
}
.input-custom input[type="range"]{
    border: var(--color-border);
    outline: none;
    border-radius: .2rem;
    width: 35%;
    max-width: 200px;
    height: 33px;
    padding: 0 .2rem;
    transition: .3s ease;
}
.input-custom input:focus{
    border: var(--color-border-primary);
    transition: .3s ease;
}

@media screen and (max-width: 1200px) {
    #my-gift-1{
        font-size: 2rem;
    }
    .templates-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: .5rem;
        transition: .3s ease;
    }
}


@media screen and (max-width: 630px) {
    #my-gift-1{
        font-size: 1.5rem;
        width: 92%;
    }
    
    .templates-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: .5rem;
        transition: .3s ease;
    }
    .input-custom>div label{
        font-size: .8rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 530px) {
    #my-gift-1{
        font-size: 1.5rem;
        width: 92%;
        display: flex;
        flex-direction: column;
    }
    
    .templates-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: .5rem;
        transition: .3s ease;
    }
    .input-custom>div label{
        font-size: .8rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 400px) {
    #my-gift-1{
        font-size: 1.5rem;
        width: 92%;
        display: flex;
        flex-direction: column;
    }
    .select{
        width: 50%;
    }
    
    .templates-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: .5rem;
        transition: .3s ease;
    }
    .input-custom>div label{
        font-size: .75rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 340px) {
    #my-gift-1{
        font-size: 1.5rem;
        width: 92%;
        display: flex;
        flex-direction: column;
    }
    
    .templates-images{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: .5rem;
        transition: .3s ease;
    }
    .select{
        width: 70%;
    }
    .input-custom>div{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 0 0 5%;
        gap: 1rem;
    }
    .input-custom>div label{
        font-size: .85rem;
    }
    .input-custom input[type="text"]{
        width: 70%;
    }
    .input-custom input[type="color"]{
        width: 40%;
    }
    .input-custom input[type="range"]{
        width: 60%;
    }
}