/* FONTS FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import url(./mygift.css);
@import url(./home.css);
@import url(./load.css);
@import url(./tools.css);
@import url(./toolsvideo.css);
@import url(./courses.css);

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
input, button{
    border: none;
    outline: none;
}

.btn{
    background-color: var(--color-primary);
    border: var(--color-border);
    border-radius: var(--border-radius-3);
    padding: .4rem .8rem;
    font-size: .9rem;
    font-weight: 400;
    color: var(--color-white);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--color-primary-hover);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: var(--color-bg-white);
    border-left: var(--color-border);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: var(--border-radius-1);
}

:root{
    --color-primary: #4361ee;
    --color-primary-light: #bfd6ff80;
    --color-primary-hover: #4f69db;
    --color-white: #fff;
    --color-bg-white: #f1f1f1;
    --color-dark: #070707;
    --color-border: 1px solid #4c576023;
    --color-border-primary: 1px solid #4361ee;
    --border-radius-1: 0.45rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--color-dark);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}

aside{
    width: 250px;
    max-width: 250px;
    height: 100vh;
    border-right: var(--color-border);
    padding: 0 .5rem 1rem .7rem;
    display: flex;
    flex-direction: column;
    transition: .5s ease;
    background-color: var(--color-white);
}


.title{
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
}
.title1{
    margin: 1.5rem 0 2rem;
}
.title2{
    display: none;
}

.title-menu{
    font-size: .9rem;
    margin-bottom: .4rem;
    color: #272626;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

.side-menu{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-nav .side-nav-1>span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    min-width: max-content;
}

.side-nav .side-nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem .45rem;
    border-radius: var(--border-radius-1);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease;
}

.side-nav .side-nav-1:hover, .sub-side-nav li:hover{
    transition: .5s ease;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.side-nav .side-nav-1.active, .sub-side-nav li.active{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}


.sub-side-nav{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 0;
    overflow-y: hidden;
    transition: .3s ease;
}

.sub-side-nav.down{
    height: 95%;
    transition: .3s ease;
}

.sub-side-nav li{
    cursor: pointer;
    margin-top: .4rem;
    padding: .2rem .4rem;
    font-size: .9rem;
    border-radius: var(--border-radius-1);
}


main{
    width: calc(100% - 250px);
    background-color: var(--color-danger);
    overflow-y: auto;
    overflow-x: hidden;
}

nav{
    background-color: var(--color-white);
    padding: 0 1rem 0 .5rem;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: var(--color-border);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

#menu{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    cursor: pointer;
    display: none;
}

#menu:hover{
    transition: .4s ease;
    background-color: var(--color-bg-white);
}


#user{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


@media screen and (max-width: 950px) {
    nav{
        justify-content: space-between;
    }
    #menu{
        display: flex;
    }
    .side-nav .side-nav-1>span>span, .title-menu, .title1>span{
        display: none;
    }
    aside{
        width: 60px;
        transition: .5s ease;
    }
    main{
        width: calc(100% - 60px);
    }
    aside.side .side-nav>.side-nav-1>span>span, aside.side .title-menu, aside.side .title1>span{
        display: flex;
    }
    aside.side{
        width: 250px;
        transition: .5s ease;
    }
    main.full{
        transition: .5s ease;
        width: calc(100% - 250px);
    }
}


@media screen and (max-width: 700px) {
    nav{
        justify-content: space-between;
    }
    #menu{
        display: flex;
    }
    .title1{
        display: none;
    }
    .title2{
        display: flex;
    }

    aside{
        position: absolute;
        overflow: hidden;
        transition: .5s ease;
        z-index: 5;
        height: calc(100vh - 55px);
        bottom: 0;
        transform: translateX(-100%);
    }
    aside.side{
        transform: translateX(0%);
        transition: .5s ease;
    }
    main{
        width: 100%;
    }
    main.full{
        width: 100%;
    }
    #user>span{
        display: none;
    }
}