/* FONTS FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;

}
:root{
    --color-primary: #4361ee;
    --color-primary-light: #bfd6ff80;
    --color-danger: #eeaa11;
    --color-success: #eeaa11;
    --color-warning: #eeaa11;
    --color-white: #fff;
    /* --color-dark: #eeaa11; */
    --color-dark: #250902;
    --color-border: 1px solid #4c576023;
    --border-radius-1: 0.45rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--color-dark);
}

aside{
    width: 250px;
    max-width: 250px;
    height: 100vh;
    /* background-color: var(--color-danger); */
    border-right: var(--color-border);
    padding: 2rem .5rem 1rem .7rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: #; */
}

.title{
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: bold;
}

.title2{
    font-size: .9rem;
    margin-bottom: .4rem;
    color: #272626;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

.side-menu{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-nav .side-nav-1>span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.side-nav .side-nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem .45rem;
    border-radius: var(--border-radius-1);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease;
}

.side-nav .side-nav-1:hover, .sub-side-nav li:hover{
    transition: .5s ease;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.side-nav .side-nav-1.active, .sub-side-nav li.active{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

/* .side-nav{
    background-color: yellow;
} */

.sub-side-nav{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 0;
    overflow-y: hidden;
    /* background-color: red; */
    transition: .3s ease;
}

.sub-side-nav.down{
    height: 95%;
    transition: .2s ease;
}

.sub-side-nav li{
    cursor: pointer;
    margin-top: .4rem;
    padding: .2rem .4rem;
    font-size: .9rem;
    border-radius: var(--border-radius-1);
}


main{
    width: calc(100% - 250px);
    height: 100vh;
    background-color: var(--color-danger);
}

nav{
    background-color: var(--color-white);
    padding: .5rem 1rem .7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    cursor: pointer;
}

#menu:hover{
    transition: .4s ease;
    background-color: #f1f1f1;
}


#user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

