@import url("./style.css");

#tools{
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 55px);
    background-color: var(--color-bg-white);
    padding: 1.5rem 1.5rem 10rem;
    gap: 2rem;
    padding-bottom: 5rem;
}

#tools.display{
    display: flex;
}
#tools h1{
    font-size: 2rem;
    color: var(--color-primary);
}

#tools .cards{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 1rem;
}

#tools .card{
    border: var(--color-border);
    border-radius: var(--border-radius-1);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
#tools .cards .card svg{
    width: 60px !important;
    height: 60px !important;
    color: var(--color-primary);
}
#tools .cards .card span{
    font-weight: 500;
    font-size: 1.2rem;
}


@media screen and (max-width: 1000px) {
    #tools .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    #tools .cards .card span{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 800px) {
    #tools .cards .card span{
        font-size: 1rem;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    #tools .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}